.btn {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: .5rem 0;
    box-sizing: border-box;
    border: 0;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}