<!--
 * @Author: viewdegree
 * @Date: 2020-02-13 12:27:45
 * @LastEditTime : 2020-02-13 20:17:03
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \node_blog\views\index.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="/css/view-ui.css">
</head>

<body>
    <header id="header">
        <h1>登录</h1>
    </header>
    <nav id="nav">
        <ul class="nav-list">
            <li><a href="/"><span>HOME</span></a></li>
            <li><a href="/login"><span>LOGIN</span></a></li>
            <li><a href="/signin"><span>SIGNIN</span></a></li>
        </ul>
    </nav>
    <main id="main">
        <section>
            <div class="form-wrap">
                <div class="form-item">
                    <label class="form-label">用户名</label>
                    <div class="form-body">
                        <input class="form-input" type="text" placeholder="请输入用户名" required name="username">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label">密码</label>
                    <div class="form-body">
                        <input class="form-input" type="password" placeholder="请输入密码" required name="password">
                    </div>
                </div>
                <div class="form-item">
                    <button type="submit" class="btn">登录</button>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/ajax.js"></script>
</body>

</html>